/* Author: Luigi Vincent
 * #75715E - optional contrast color
 * #666664 - contrast color
 * #FD971F - sublime orange
 * #A6E22E - sublime green
 */

 * {
	font-family: 'Georgia', sans-serif;
}

body {
	background-color: #272822;
	color: #F3F3F3;
}

hr {
	color: #666664;
}

#name {
	font-size: 1.5em;
}

#header {
	font-size: 5.55em;
}

#copyright {
	text-align: center;
}

#home {
	margin-left: 15em;
	width: 5em;
}
#home:hover {
	transform: scale(1.05);
}
#home:active {
	transform: scale(1);
}

td {
	max-width: 25em;
}
td input {
	margin: 0.5em;
}

#scrollbutton {
	position: fixed;
    bottom: 0;
    right: 0;
}
#scrollbutton:active {
	outline: none;
}
body.at-top #scrollbutton {
	visibility: hidden;
}

.navigation {
	list-style-type: none;
	float: right;
	margin-top: 3.4em;
}
.navigation li {
	display: inline;
}
.navigation li a {
	text-decoration: none;
	color: #F3F3F3;
	font-size: 1.25em;
	padding-left: 0.15em;
	padding-right: 0.15em;
}
.navitrast:visited {
	color: #75715E;
}
.navigation li a:hover {
	color: #A6E22E;
}
.navigation li a:active {
	position: relative;
	top: 0.05em;
}

#resume {
	text-decoration: none;
	font-size: 20px;
	padding: 2px;
	color: #A6E22E;
}
#resume:hover {
	text-decoration: underline;
}
#contacts {
	text-align: center;
}
#contacts img {
	max-width: 2em;
	opacity: 0.5;
}
#contacts img:hover {
	opacity: 1;
}
#contacts img:active {
	position: relative;
	bottom: .05em;
}