.projects {
	outline: none;
}
.projects:hover {
	box-shadow:  0 0 0.75em #A6E22E;
}

#project-info {
    border-color: #666664;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 0.5em;
    height: 26em;
    width: 42em;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
    position: fixed;
    bottom: 8em;
    left: 23em;
    display: none;
    -webkit-animation-name: animate-info;
    -webkit-animation-duration: 0.5s;
    animation-name: animate-info;
    animation-duration: 0.5s;
}

@-webkit-keyframes animate-info {
    from {
        /*top: -18.75em;*/
        opacity: 0;
    } to {
       /* top: 0;*/
        opacity: 1;
    }
}

@keyframes animate-info {
    from {
       /* top: -18.75em;*/
        opacity: 0;
    } to {
       /* top: 0;*/
        opacity: 1;
    }
}

#overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    background-color: #272822;
    opacity: 0.4;
}

#project-info > ul > li,
.accordion-title,
.accordion-content,
.accordion-separator {
    float: none;
}

#project-info > ul > li {
    background-color: #666664;
    margin-right: 0;
    margin-bottom: -18.25em;
}

.accordion-select:checked ~ .accordion-separator {
    margin-bottom: 18.25em;
    margin-right: 0;
}

.accordion-title,
.accordion-select  {
    background-color: #272;
    color: #f3f3f3;
    width: 42em;
    height: 2.5em;
    font-size: 1em;
}

.accordion-title span {
    margin-bottom: 1.25em; 
    margin-left: 1.25em;
}

.accordion-select:hover ~ .accordion-title,
.accordion-select:checked ~ .accordion-title {
    background-color: #a6e22e;
}

.accordion-title span {	
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    margin-bottom: 0;
    line-height: 2.5em;
}

.accordion-content {
    background-color: #272822;
    color: #f3f3f3;
    height: 14.75em;
    width: 40em;
    padding: 1.75em;
}

.accordion-title,
.accordion-select:checked ~ .accordion-content {
    margin-right: 0.125em;
    margin-bottom: 0.125em;
}

#project-info > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 101%;
}

#project-info > ul > li,
.accordion-title {
    position: relative;
}

.accordion-select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.accordion-title span {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

.accordion-content {
    position: relative;
    overflow: auto;
}
.accordion-content > ul > li {
	list-style-type: disc;
}

.accordion-separator {
    transition: margin 0.3s ease 0.1s;
    -o-transition: margin 0.3s ease 0.1s;
    -moz-transition: margin 0.3s ease 0.1s;
    -webkit-transition: margin 0.3s ease 0.1s;
}

#this {
	font-size: 4em;
	margin-left: 0.7em;
}
#this:hover {
	color: #A6E22E;
	cursor: pointer;
	box-shadow: none;
}