/* Author: Luigi Vincent
 * #75715E - optional contrast color
 * #666664 - contrast color*/

 * {
	font-family: 'Georgia', sans-serif;
}

body {
	background-color: #272822;
	color: #F3F3F3;
}

hr {
	color: #666664;
}

#this {
	font-size: 4em;
	margin-left: 1.2em;
}

#this:hover {
	color: #A6E22E;
	cursor: pointer;
}

#name {
	font-size: 1.25em;
}

#header {
	font-size: 5.4em;
}

#copyright {
	text-align: center;
}

#home {
	margin-left: 17.5em;
	width: 5em;
}
#home:hover {
	transform: scale(1.1);
}
#home:active {
	transform: scale(0.9);
}

td {
	max-width: 25em;
}
td input {
	margin: 0.5em;
}

#scrollbutton {
	position: fixed;
	visibility: hidden;
    bottom: 0;
    right: 0;
}

.navigation {
	list-style-type: none;
	float: right;
	margin-top: 3.25em;
}
.navigation li {
	display: inline;
}
.navigation li a {
	text-decoration: none;
	color: #F3F3F3;
	font-size: 1.25em;
	padding-left: 0.15em;
	padding-right: 0.15em;
}
.navitrast:visited {
	color: #75715E;
}
.navigation li a:hover {
	color: #A6E22E;
}
.navigation li a:active {
	font-size: 1.2em;
}

#resume {
	text-decoration: none;
	font-size: 20px;
	padding: 2px;
	color: #A6E22E;
}
#resume:hover {
	text-decoration: underline;
}

#contacts {
	text-align: center;
}
#contacts img {
	max-width: 2em;
	opacity: 0.5;
}
#contacts img:hover {
	opacity: 1;
}
#contacts img:active {
	max-width: 1.9em;
}